# Папка сборки
build/

# Объектные файлы
*.o

# Библиотеки и исполняемые файлы
*.a
# *.so
# *.dll
*.exe

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo
*.bak
*~

# Настройки Visual Studio Code
.vscode/

# Временные файлы и резервные копии
*.DS_Store
